#about-heading-h2{
    margin-top: 10%;
    margin-bottom: 1px;
    font-family: 'Montserrat', sans-serif;
}

#about-heading-h6{
    margin-top:1%;
    margin-bottom: 10%;
    font-size:small;
    font-family: 'Montserrat', sans-serif;
}
