
/* ==================== header ============================ */

header{
    background-color: #0a043c;
    padding: 2% 10%;
    color: #fff;
}

/* navbar */
.navbar-brand span{
    color: blue;
}

.navbar-brand{
    font-weight: bold;
}

.nav-link{
    font-size: 1rem;
}

.nav-link:hover{
    font-size: 1.05rem;
    margin-bottom: 1px;
}

#top-hr {
    background-color: white;
}

/* jumbotron */

#jumbotron{
    padding-top: 7%;
}

#jumbotron h2{
    font-size: 2.5rem;
    margin-bottom: 10%;
}

#jumbotron p{
    margin-bottom: 10%;
    line-height:2;
}

#jumbotron button {
    padding: 2.5%;
    font-weight: 500;
    background-color: blue;
}

#jumbotron button:hover{
    color: white;
}